html,
body,
#__next {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.globalGrommetContainerStyle {
  background: linear-gradient(180deg, rgba(125,76,219,1) 0%, rgba(128,203,196,1) 100%);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer.globalFooterStyle {
  background: transparent;
  justify-content: center;
}